<main class="content">
    <nav class="localNavi">
        <p class="title_navi">講座のご案内</p>
        <ul class="localNaviList">
            <li><a href="/seminar/"><span>講座のご案内</span></a></li>
            <li><a href="/seminar/kyujitsu"><span>労務監査人養成講座(週末開講)</span></a></li>
            <li><a href="/seminar/heijitsu"><span>労務監査人養成講座(平日開講)</span></a></li>
            <li><a href="/seminar/jissen"><span>労務監査人実務講座</span></a></li>
            <li><a href="/seminar/schedule/"><span>開催日程</span></a></li>
        </ul>
    </nav>

	<h1 class="pageTitle">
		<strong class="txt"><img src="/images/seminars/nationwide/txt_pageTitle.png" alt="協会概要：一般社団法人育勉普及協会について" class="img-responsive"></strong>
		<span class="picture">一般社団法人育勉普及協会について</span>
	</h1>
	
  <form method="get" action="/seminars/nationwide/">
    <div class="searchBox">
	    <div class="container">
        <dl class="searclList">
          <dt>開催月で絞り込む</dt>
          <dd>
              <select onChange="this.form.submit()" name="event_ym" id="form_event_ym">
	<option value="0"></option>
	<option value="2020-06">2020年06月</option>
	<option value="2020-05">2020年05月</option>
	<option value="2020-04">2020年04月</option>
	<option value="2020-03">2020年03月</option>
	<option value="2020-02">2020年02月</option>
	<option value="2020-01">2020年01月</option>
	<option value="2019-12">2019年12月</option>
	<option value="2019-11">2019年11月</option>
	<option value="2019-10">2019年10月</option>
	<option value="2019-09">2019年09月</option>
	<option value="2019-08">2019年08月</option>
	<option value="2019-07">2019年07月</option>
	<option value="2019-06">2019年06月</option>
	<option value="2019-05">2019年05月</option>
	<option value="2019-04">2019年04月</option>
	<option value="2019-03">2019年03月</option>
	<option value="2019-02">2019年02月</option>
	<option value="2019-01">2019年01月</option>
	<option value="2018-12">2018年12月</option>
	<option value="2018-11">2018年11月</option>
	<option value="2018-10">2018年10月</option>
	<option value="2018-09">2018年09月</option>
	<option value="2018-08">2018年08月</option>
	<option value="2018-07">2018年07月</option>
	<option value="2018-06">2018年06月</option>
	<option value="2018-05">2018年05月</option>
	<option value="2018-04">2018年04月</option>
	<option value="2018-03">2018年03月</option>
	<option value="2018-02">2018年02月</option>
	<option value="2018-01">2018年01月</option>
	<option value="2017-12">2017年12月</option>
</select>          </dd>
        </dl>

        <dl class="searclList">
          <dt>募集状況で絞り込む</dt>
          <dd>
              <select onChange="this.form.submit()" name="situation" id="form_situation">
	<option value="0"></option>
	<option value="1">募集中</option>
	<option value="2">満員御礼</option>
	<option value="3">終了</option>
</select>          </dd>
        </dl>
        
        <dl class="searclList">
          <dt>開催場所で絞り込む</dt>
          <dd>
              <select onChange="this.form.submit()" name="area" id="form_area">
	<option value="0"></option>
	<option value="浜松市">浜松市</option>
	<option value="東京都">東京都</option>
	<option value="沼津市">沼津市</option>
	<option value="袋井市">袋井市</option>
	<option value="愛知県">愛知県</option>
	<option value="福岡県">福岡県</option>
	<option value="富士市">富士市</option>
	<option value="京都府">京都府</option>
	<option value="伊豆市">伊豆市</option>
	<option value="掛川市">掛川市</option>
	<option value="大阪府">大阪府</option>
	<option value="岡山県">岡山県</option>
	<option value="磐田市">磐田市</option>
	<option value="清水町">清水町</option>
	<option value="静岡市">静岡市</option>
	<option value="島田市">島田市</option>
</select>          </dd>
        </dl>
	    <!-- /container -->
	    </div>
    <!-- /searchBox -->
    </div>
  </form>
	
	
	<div class="eventMainBox">
		<div class="container">
		
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/198" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color01">募集中</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">6月3日開催【オンライン】「ひとりで抱え込まない仕事術～ヘルプシーキングを身につけよう！～」</h2>
                            <p class="normalTxt">体験セミナーのテーマ『ひとりで抱え込まない仕事術～ヘルプシーキングを身につけよう！～』</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/b80a0250e382f7cdfa3acf7a3ffe6801db53815a.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-06-03" class="event_date">2020年<em>06</em>月<em>03</em>日(水)<br>10:00〜11:30</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/09af478ebe05a26dee49d1584dbc1f684805ca79.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/197" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">5月18日開催【オンライン】育休スクラ体験セミナー「子育てで磨かれるビジネススキル」</h2>
                            <p class="normalTxt">育休スクラの体験セミナーを無料開催！誰でもご自宅からご参加いただけます♪</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/569d01b33a548819a68997f2148625a5c940ad7d.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-05-18" class="event_date">2020年<em>05</em>月<em>18</em>日(月)<br>13:00〜14:30</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/40ffe2720a25855c2200bb19fcf3d33f322a6604.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/194" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">5月7日開催【オンライン】育休スクラ体験セミナー「自分が分かる、チームが分かる、キャリアタイプ分析」</h2>
                            <p class="normalTxt">育休スクラの体験セミナーを無料開催！誰でもご自宅からご参加いただけます♪</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/fefb7912126664716751cb36b391239140ee2b6d.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-05-07" class="event_date">2020年<em>05</em>月<em>07</em>日(木)<br>13:00〜14:30</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/29e1e5d7315f9faa38d57ef2225e49d6dec07084.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/193" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">【オンライン】育休スクラ体験セミナー「子育てで磨かれるビジネススキル」</h2>
                            <p class="normalTxt">育休スクラの体験セミナーを無料開催！誰でもご自宅からご参加いただけます♪</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/a72c3627cf972cd9d9f3f30be80b126a7e97fbff.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-04-16" class="event_date">2020年<em>04</em>月<em>16</em>日(木)<br>13:00〜14:30</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/8127dcefe2b34511b3a907ba2502ed456df22013.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/158" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">3月18日開催「育勉セミナー」【中止】</h2>
                            <p class="normalTxt">3月18日（火）育勉セミナー中止について</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/2d1eb930b410c397ccdaab29563b468eb4e3d992.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-03-18" class="event_date">2020年<em>03</em>月<em>18</em>日(水)<br>09:30〜12:00</time>
                            <dl class="event_lecture">
                                <dt>石津陽子</dt>
                                <dd><span><img src="/uploads/event/820ee828586952cf76fbe70543219f2c3fff46b3.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/159" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">2月19日開催「育勉セミナー」</h2>
                            <p class="normalTxt">育勉セミナーって？</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/6030fbd0828f5c129bb4a8da9bba6da6e020a353.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-02-19" class="event_date">2020年<em>02</em>月<em>19</em>日(水)<br>09:30〜12:00</time>
                            <dl class="event_lecture">
                                <dt>村上さくら</dt>
                                <dd><span><img src="/uploads/event/8ba75c2a10fca9b5e0109a7d6f084bc77116d9fb.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/191" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">『やりたいけど…』が『できる！やろ♪』に変えられる！☆育勉セミナー＠なごみサーカス</h2>
                            <p class="normalTxt">子育て中こそ輝ける！『前向きに☆行動的に☆』時間管理テクニックで可能に♪</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/aef94936c8f59d8f4de260efb7d5e78d03d23d01.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-02-15" class="event_date">2020年<em>02</em>月<em>15</em>日(土)<br>10:00〜12:00</time>
                            <dl class="event_lecture">
                                <dt>村上さくら</dt>
                                <dd><span><img src="/uploads/event/0c5e0b63d9e22608b0b8e4a8875de478100ed7ac.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/180" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">【2月4日】育休者向けオンラインスクールが2020年2月に開講！！【育休スクラ・オンライン説明会】</h2>
                            <p class="normalTxt">新しい育休者向けオンラインスクール「育休スクラ」が2月に開講！</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/01551054c7f2fa1266b4f29482d584a85e4ddf45.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-02-04" class="event_date">2020年<em>02</em>月<em>04</em>日(火)<br>10:00〜11:00</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/c425d8566636fc6e379976fe3afb49a705344f50.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/181" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">【1月29日】育休者向けオンラインスクールが2020年2月に開講！！【育休スクラ・オンライン説明会】</h2>
                            <p class="normalTxt">新しい育休者向けオンラインスクール「育休スクラ」が2月に開講！</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/a846541d7da2fa1f0776d5ac346235c917dae4be.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-01-29" class="event_date">2020年<em>01</em>月<em>29</em>日(水)<br>10:00〜11:00</time>
                            <dl class="event_lecture">
                                <dt>小田木朝子</dt>
                                <dd><span><img src="/uploads/event/79b7985ed2295863b91a564d0f631e68d1cff9dd.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            
                <section class="eventList">
                    <a href="/seminars/nationwide/detail/155" class="eventList_inner">
                        <ul class="eventList_icons">
                            <li class="status s_color03">終了</li>
                        </ul>

                        <div class="eventList_name">
                            <h2 class="eventList_subject">1月28日開催「育勉セミナー」</h2>
                            <p class="normalTxt">育勉セミナーって？</p>
                        <!-- /eventList_name -->
                        </div>

                        <div class="eventList_thum">
                            <figure><img src="/uploads/event/961df3793ba3f96ce436f0c8620b5b34483e3aef.jpg" alt=""></figure>
                        <!-- /eventList_thum -->
                        </div>

                        <div class="eventList_title">
                            <p class="event_venu">浜松市</p>
                            <time datetime="2020-01-28" class="event_date">2020年<em>01</em>月<em>28</em>日(火)<br>09:30〜12:00</time>
                            <dl class="event_lecture">
                                <dt>前田菜穂子</dt>
                                <dd><span><img src="/uploads/event/2c4cfa254e75ebef1aaf476613dbbe47bb261062.jpg" alt=""></span></dd>
                            </dl>
                        <!-- /eventList_title -->
                        </div>
                    </a>
                </section>
            			<div class='pageNavi'><ul><li><span>1</span></li>
<li><a href='http://www.ikuben.jp/seminars/nationwide?p=2'>2</a></li>
<li><a href='http://www.ikuben.jp/seminars/nationwide?p=3'>3</a></li>
<li><a href='http://www.ikuben.jp/seminars/nationwide?p=4'>4</a></li>
<li><a href='http://www.ikuben.jp/seminars/nationwide?p=5'>5</a></li>
<li><a href='http://www.ikuben.jp/seminars/nationwide?p=2'>&gt;&gt;</a></li></ul></div>
 
		<!-- /container -->
		</div>
	<!-- /eventMainBox -->
	</div>
	
	<section class="txtBnr">
    <div class="container">
      <h2><a href="/seminars/nationwide_archive/">過去の育勉セミナー開催一覧はこちら</a></h2>
    </div>
  </section>
</main>