<main class="content">
	<h1 class="pageTitle">
		<strong class="txt"><%= image_tag('text/info.png', class: "img-responsive") %></strong>
		<span class="picture"></span>
	</h1>
	
	<section class="infoBox">
		<div class="container">
			<h2 class="contTitle">
				<strong>お知らせ</strong>
				<small>information</small>
			</h2>
			
            <ul class="infoList">
                
              <li>
                <a href="">
                  <span class="date">2020年5月13日(水)</span>
                  <span class="title">「労務監査人養成講座」中止のお知らせ。<br>
                  新型コロナウィルス感染拡大に伴い,5月の「労務監査人養成講座」の開催を中止とさせていただきました。<br>
                  尚、次回開催は7月下旬を予定しております。
                  </span>
                </a>
              </li>
                
              <li>
                <a href="">
                  <span class="date">2020年5月8日(金)</span>
                  <span class="title">協会説明会延期のお知らせ。<br>
                  協会説明会につきましては、緊急事態宣言解除後に改めて日程調整致します。
                  </span>
                </a>
              </li>
                        
            </ul>
            
                        
		<!-- /container -->
		</div>
	</section>
	
</main>
